.introduction {
  background: url(../images/smiley-face.jpg) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  background-attachment: fixed;
}
