/* section introduction  */
.introduction {
  background: url(../images/introduction.jpg) no-repeat top;
  background-size: cover;
}

/* section testinomies */
.testinomies {
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: var(--padding-global);
  align-items: center;
}
.testinomies h2 {
  grid-column: 1/-1;
  text-align: left;
}
.testinomies img {
  max-width: 70%;
  border-radius: 50%;
}

/* section latest posts */
.latest-post-sec {
  display: grid;
  gap: 10px;
}

.carousel-btns-container {
  border-bottom: 1px solid var(--darkblue-color);
  margin-bottom: 20px;
  margin-right: 12px;
}
.carousel-btns-container {
  justify-content: space-between;
  transition: 1s ease;
}
.latest-post-sec h2,
.latest-post-sec h3 {
  border: none;
  margin-bottom: 0;
}

.carousel-container {
  gap: 20px;
  flex-wrap: nowrap;
  /* display: grid;
  grid-template-columns: repeat(12, 230px); */
  overflow-x: auto;
  transition: 1s linear;
  padding: 8px;
  -webkit-overflow-scrolling: touch;
  cursor: pointer;
}

.carousel-container::-webkit-scrollbar {
  height: 1px;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: var(--button-color);
}

.carousel-container img {
  max-width: 100%;
}
.carousel-container > a {
  /* box-shadow: var(--box-shadow);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; */
  flex: 0 0 230px;
}
.blog {
  transition: 1.5s transform;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  transition: 0.5s ease;
}
.blog:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* .blog p {
  font-size: 0.8em;
  font-style: italic;
} */

.blog p,
.blog h3 {
  padding: 8px;
  color: black;
  text-overflow: ellipsis;
}
.blog > img {
  width: 100%;
  height: 150px;
}
.right-btn,
.left-btn {
  border: none;
  color: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4em;
  margin-right: 10px;
  padding: 10px;
  background: none;
  transition: 1s transform;
}
.right-btn:hover,
.left-btn:hover {
  color: var(--gray-color);
  transform: scale(1.2);
}
