/* media queries mobile */
@media only screen and (max-width: 636px) {
  /* global */
  body {
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "intro-sec "
      "aside"
      " main"
      "footer";
  }

  /* global header and navigation */
  #logo {
    max-width: 60%;
  }
  h1 {
    font-size: 1.5em;
  }
  header {
    justify-content: center;
  }
  .hamburger {
    display: block;
    z-index: 50;
  }
  .navbar::before {
    top: 25px;
  }
  .nav-search-container {
    background-color: white;
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s transform;
    transform: translateY(-100%);
    box-shadow: var(--box-shadow);
    flex-direction: column-reverse;
    padding: 8px;
  }
  .show-nav {
    transform: translateY(0px);
  }
  #search {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .fa-search {
    top: 22px;
  }
  .search-result-container {
    left: -50%s;
    width: fit-content;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  nav a {
    display: inline;
  }
  .intro-sec {
    margin: 40px 0 60px 0px;
    height: 50vh;
  }
  .intro-text {
    width: 240px;
  }

  aside {
    margin: 20px 10px;
  }
  .subscribe-container {
    flex-direction: column;
  }
  .social-icons .fab,
  .social-icons .fas {
    padding: 6px;
    font-size: 0.8em;
  }
  .to-top-btn {
    right: 5px;
    bottom: 135px;
    font-size: 1.3em;
  }
  .msg-container {
    top: 51px;
  }
  .msg-container-btn {
    right: 10px;
  }
  .subscribe-form {
    background-position: center top;
    height: 70vh;
  }
  /* homepage */
  .testinomies {
    grid-template-columns: auto auto;
    padding: var(--padding-8px);
  }
  /* blog page */
  .blogs-section {
    grid-template-columns: auto;
  }
  .blogs-main {
    margin-top: 40px;
  }

  /* Contact page */
  .form-container {
    grid-template-columns: auto;
    padding: var(--padding-8px);
  }
  .form-aside {
    grid-row: 1/-1;
  }
  /* blog specific page */
  .blog-specific-aside {
    margin: 80px 10px 10px 10px;
    display: none;
  }
}
/* media queries tablets  */
@media (min-width: 637px) and (max-width: 820px) {
  body {
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header "
      "intro-sec intro-sec intro-sec "
      "main main main"
      "aside aside aside"
      "footer footer footer";
  }
  header {
    justify-content: center;
    margin-bottom: 80px;
  }
  .search-result-container {
    left: -90%;
  }
  .intro-sec {
    margin: 60px 0 60px 0px;
    height: 70vh;
  }
  aside {
    margin: 20px;
  }
  .aside-grid-tablet-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: end;
  }
  .msg-container {
    top: 100px;
  }
  .subscribe-form {
    background-position: center top;
    height: 50vh;
  }

  /* contact page */
  .contact-main {
    margin: 150px auto;
  }
}
@media (min-width: 821px) and (max-width: 1200px) {
  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header header header header "
      "intro-sec intro-sec intro-sec intro-sec "
      "main main main aside"
      "footer footer footer footer";
  }
  .intro-sec {
    margin: 60px 0 60px 0px;
    height: 80vh;
  }
  .subscribe-form {
    background-position: center top;
    height: 50vh;
  }
  .search-result-container {
    left: -90%;
  }
}
