/* media queries mobile */
@media only screen and (max-width: 636px) {
  /* global */
  body {
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "intro-sec "
      " main"
      "aside"
      "footer";
  }

  /* global header and navigation */
  #logo {
    max-width: 50%;
  }
  header {
    justify-content: center;
  }
  .hamburger {
    display: block;
    z-index: 50;
  }
  .navbar::before {
    top: 40px;
  }
  .nav-search-container {
    background-color: white;
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s transform;
    transform: translatey(-100%);
    box-shadow: var(--box-shadow);
    flex-direction: column;
    padding: var(--padding-global);
  }
  .search-result-container {
    left: -80px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  nav a {
    display: inline;
  }
  aside {
    margin: 50px 10px;
  }
  .subscribe-container {
    flex-direction: column;
  }
  .social-icons .fab,
  .social-icons .fas {
    padding: 4px;
    font-size: 1em;
  }
  .to-top-btn {
    right: 5px;
  }
  /* homepage */
  .testinomies {
    grid-template-columns: auto auto;
    padding: 8px;
  }
  /* blog page */
  .blogs-section {
    grid-template-columns: auto;
  }

  /* Contact page */
  .form-container {
    grid-template-columns: auto;
    padding: 8px;
  }
  .form-aside {
    grid-row: 1/-1;
  }
}
/* media queries tablets  */
@media (min-width: 637px) and (max-width: 820px) {
  body {
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header "
      "intro-sec intro-sec intro-sec "
      "main main main"
      "aside aside aside"
      "footer footer footer";
  }
  header {
    justify-content: center;
  }
  aside {
    margin: 20px;
  }
  .aside-grid-tablet-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: end;
  }
}
@media (min-width: 821px) and (max-width: 1200px) {
  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header header header header "
      "intro-sec intro-sec intro-sec intro-sec "
      "main main main aside"
      "footer footer footer footer";
  }
}
