@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital@0;1&family=Spartan&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

:root {
  --heading-nav-fonts: "Merienda", cursive, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --paragraph-text-fonts: "Cantarell", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --button-color: #4353ff;
  --primary-rgba: 67, 83, 255, 0.2;
  --secondary-color: #c328fa;
  --gray-color: #f2f2f2;
  --darkblue-color: #212980;
  --error-color: #ff5c5c;
  --success-color: #36ff70;
  --box-shadow: 2px 2px 2px rgba(67, 83, 255, 0.2);
  --padding-global: 16px;
  --section-margin: 200px 0;
  font-family: ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* global styling  */
h1,
h2 {
  font-family: "Merienda", cursive;
}
h3,
h4,
h5,
.cta,
p,
input,
footer,
textarea,
nav {
  font-family: var(--paragraph-text-fonts);
}
a,
li {
  text-decoration: none;
  color: black;
  list-style: none;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  padding: var(--padding-global);
  color: var(--darkblue-color);
}
h2,
h3 {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--darkblue-color);
}
p {
  line-height: 1.4em;
  font-size: 1.2em;
  margin-bottom: 1em;
}

#logo {
  max-width: 70%;
}
body {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  overflow-x: hidden;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "header header header header header"
    "intro-sec intro-sec intro-sec intro-sec intro-sec"
    "... main main main aside"
    "footer footer footer footer footer";
}
/* global header */
header {
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  position: relative;
  box-shadow: var(--box-shadow);
  position: fixed;
  width: 100vw;
  z-index: 100;
  background-color: white;
}

/* global intro section */
.intro-sec {
  grid-area: intro-sec;
  width: 100vw;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: var(--padding-global);
  margin-top: 60px;
}

.introduction-text h1 {
  color: white;
}
/* logo and navigation  */
.nav-search-container {
  justify-content: space-evenly;
  gap: 20px;
}
nav ul li {
  display: inline-block;
  padding: var(--padding-global);
}
nav a {
  font-size: 1.2em;
  transition: 0.3s linear;
  color: black;
  position: relative;
}

.navbar::before {
  position: absolute;
  content: "";
  padding: 1px 0px;
  width: 100%;
  top: 25px;
  left: 0px;
  background-color: var(--darkblue-color);
  transition: 0.8s transform;
  overflow: hidden;
  transform: scalex(0);
  transform-origin: center;
}
.navbar:hover::before {
  transform: scalex(1);
  transform-origin: center;
}

.hamburger {
  position: absolute;
  right: 20px;
  z-index: 10;
  padding: var(--padding-global);
  transition: 0.5s transform;
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.search-container {
  position: relative;
}
.fa-search {
  position: absolute;
  font-size: 1.3em;
  right: 5px;
  top: 10px;
  padding: 2px;
  color: var(--button-color);
  pointer-events: visibleFill;
}
/* global search results container */

.search-result-container {
  position: absolute;
  box-shadow: var(--box-shadow);
  width: 300px;
  padding: var(--padding-global);
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur;
  transition: 1s ease-in-out;
  z-index: 10;
}
.search-content {
  text-decoration: underline;
  padding: var(--padding-global);
  font-family: var(--paragraph-text-fonts);
  line-height: 1.5em;
}
/* global main */
main {
  grid-area: main;
  max-width: 1000px;
  justify-self: center;
  align-self: center;
  position: relative;
  padding: 0 20px;
}
main > section {
  margin: 100px auto;
}
/* global aside */
aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: var(--padding-global);
  gap: 20px;
  justify-content: center;
  align-self: flex-start;
  margin: 150px 50px 100px 0;
  box-shadow: var(--box-shadow);
  background: var(--gray-color);
}
aside h3 {
  border-bottom: 1px solid var(--darkblue-color);
}
.aside-content p {
  cursor: pointer;
  text-decoration: underline;
}
/* global call to action button  */
.cta {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  color: white;
  background-color: var(--button-color);
  cursor: pointer;
  transition: 0.5s ease;
  font-size: 1.2em;
}
.cta:hover {
  background-color: var(--gray-color);
  color: var(--darkblue-color);
}
/* global background loader */
.loader {
  display: flex;
  position: absolute;
  left: 50%;
  top: 15%;
  gap: 10px;
}
.loader > span {
  width: 0;
  height: 0;
  background-color: var(--button-color);
  animation: bounce 0.9s infinite alternate-reverse;
  border-radius: 50%;
}
.loader :nth-child(2) {
  background-color: var(--secondary-color);
  animation-delay: 0.3s;
}
.loader :nth-child(3) {
  background-color: var(--button-color);
  animation-delay: 0.5s;
}

@keyframes bounce {
  to {
    width: 20px;
    height: 20px;
  }
}
/* global form, input, label, textarea, placeholder */
::placeholder {
  font-size: 1.2em;
}
label:hover {
  cursor: pointer;
}
input,
textarea {
  padding: 12px;
  outline: none;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form input,
textarea {
  border: none;
  border-bottom: 1px solid black;
}

/* global flex and grid*/
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: var(--padding-global);
}
.grid-three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: var(--padding-global);
}
.grid-four-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: var(--padding-global);
}

/* global classes : active, hidden, error and success message container */
.active {
  border-bottom: 2px solid var(--darkblue-color);
  cursor: default;
  pointer-events: none;
  transition: 1s ease;
}
.msg-container {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
}
.success-msg,
.error-msg {
  padding: var(--padding-global);
  font-size: 1em;
}
.success-msg {
  background-color: var(--success-color);
}
.error-msg {
  background-color: var(--error-color);
  color: white;
}
.error {
  color: var(--error-color);
}
.hidden {
  display: none;
}

/* global spans, date, */
.all-span {
  margin-bottom: 20px;
  border: none;
}

.date {
  font-style: italic;
  font-size: 0.9em;
  margin-top: 20px;
}

/* global footer */
footer {
  grid-area: footer;
  justify-content: space-between;
  padding: 40px;
  border-top: 1px solid var(--secondary-color);
  flex-direction: column;
  gap: 20px;
  position: relative;
}
footer p {
  margin-bottom: 0;
}
.social-icons {
  font-size: 1.4em;
  padding: 8px;
  text-align: center;
  margin-bottom: 40px;
}
.social-icons .fab,
.social-icons .fas {
  border: 1px solid black;
  padding: var(--padding-global);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
.subscribe-container {
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
}
.subscribe {
  width: 250px;
  padding: var(--padding-global) 4px;
  border: 1px solid black;
  text-align: center;
}
.copyright {
  background-color: var(--darkblue-color);
  position: absolute;
  width: 100%;
  bottom: 0%;
  margin-top: 20px;
  color: white;
  padding: var(--padding-global);
  text-align: center;
  font-size: 0.9em;
}
.to-top-btn {
  position: absolute;
  right: 5px;
  top: 20px;
  color: var(--button-color);
  font-size: 2em;
  cursor: pointer;
}
